.App-header {
    background: {
		color: #282c34;
	}
    min: {
		height: 100vh;
	}
    display: flex;
    flex: {
		direction: column;
	}
    align: {
		items: center;
	}
    justify: {
		content: center;
	}
    font: {
		size: calc(10px + 2vmin);
	}
    color: white;
}

.btn-teste{
    height: 30px;
    width: 120px;
    background-color: #fff;
    transition: .2 ease;
    cursor: pointer;
    border: none { 
        radius: 5px;
    }

    
    &:hover{
        transition: .2 ease;
        background-color: #eeeeee;
    }
}